.admin-container {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.admin-form {
    display: flex;
    justify-content: space-between;
    width: 85vw;
}