.header-container {
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    
}

.header-left {
    height: 100%;
    width: 300px;
    float: left;
    background-color: slateblue;
}

.header-right {
    float: right;
    height: 100%;
    background-color: blue;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-logo {
    width: 250px;
}
.header-middle {
    background-color: green;
    width: 50%;
    height: 100%;
    align-items: center;
}